# Core functionality - changes here should be rare!
/src/app.py                   @RRosio
/src/backend/database.py      @RRosio
/src/backend/routers/auth.py  @RRosio

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RRosio
